/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$about-1-name: 'about-1';
$about-1-x: 258px;
$about-1-y: 380px;
$about-1-offset-x: -258px;
$about-1-offset-y: -380px;
$about-1-width: 26px;
$about-1-height: 30px;
$about-1-total-width: 492px;
$about-1-total-height: 466px;
$about-1-image: '../images/sprite.png';
$about-1: (258px, 380px, -258px, -380px, 26px, 30px, 492px, 466px, '../images/sprite.png', 'about-1', );
$about-10-name: 'about-10';
$about-10-x: 323px;
$about-10-y: 302px;
$about-10-offset-x: -323px;
$about-10-offset-y: -302px;
$about-10-width: 26px;
$about-10-height: 24px;
$about-10-total-width: 492px;
$about-10-total-height: 466px;
$about-10-image: '../images/sprite.png';
$about-10: (323px, 302px, -323px, -302px, 26px, 24px, 492px, 466px, '../images/sprite.png', 'about-10', );
$about-2-name: 'about-2';
$about-2-x: 97px;
$about-2-y: 350px;
$about-2-offset-x: -97px;
$about-2-offset-y: -350px;
$about-2-width: 27px;
$about-2-height: 29px;
$about-2-total-width: 492px;
$about-2-total-height: 466px;
$about-2-image: '../images/sprite.png';
$about-2: (97px, 350px, -97px, -350px, 27px, 29px, 492px, 466px, '../images/sprite.png', 'about-2', );
$about-3-name: 'about-3';
$about-3-x: 310px;
$about-3-y: 380px;
$about-3-offset-x: -310px;
$about-3-offset-y: -380px;
$about-3-width: 24px;
$about-3-height: 30px;
$about-3-total-width: 492px;
$about-3-total-height: 466px;
$about-3-image: '../images/sprite.png';
$about-3: (310px, 380px, -310px, -380px, 24px, 30px, 492px, 466px, '../images/sprite.png', 'about-3', );
$about-4-name: 'about-4';
$about-4-x: 257px;
$about-4-y: 189px;
$about-4-offset-x: -257px;
$about-4-offset-y: -189px;
$about-4-width: 29px;
$about-4-height: 21px;
$about-4-total-width: 492px;
$about-4-total-height: 466px;
$about-4-image: '../images/sprite.png';
$about-4: (257px, 189px, -257px, -189px, 29px, 21px, 492px, 466px, '../images/sprite.png', 'about-4', );
$about-5-name: 'about-5';
$about-5-x: 446px;
$about-5-y: 348px;
$about-5-offset-x: -446px;
$about-5-offset-y: -348px;
$about-5-width: 26px;
$about-5-height: 26px;
$about-5-total-width: 492px;
$about-5-total-height: 466px;
$about-5-image: '../images/sprite.png';
$about-5: (446px, 348px, -446px, -348px, 26px, 26px, 492px, 466px, '../images/sprite.png', 'about-5', );
$about-6-name: 'about-6';
$about-6-x: 381px;
$about-6-y: 211px;
$about-6-offset-x: -381px;
$about-6-offset-y: -211px;
$about-6-width: 22px;
$about-6-height: 31px;
$about-6-total-width: 492px;
$about-6-total-height: 466px;
$about-6-image: '../images/sprite.png';
$about-6: (381px, 211px, -381px, -211px, 22px, 31px, 492px, 466px, '../images/sprite.png', 'about-6', );
$about-7-name: 'about-7';
$about-7-x: 299px;
$about-7-y: 302px;
$about-7-offset-x: -299px;
$about-7-offset-y: -302px;
$about-7-width: 24px;
$about-7-height: 26px;
$about-7-total-width: 492px;
$about-7-total-height: 466px;
$about-7-image: '../images/sprite.png';
$about-7: (299px, 302px, -299px, -302px, 24px, 26px, 492px, 466px, '../images/sprite.png', 'about-7', );
$about-8-name: 'about-8';
$about-8-x: 215px;
$about-8-y: 302px;
$about-8-offset-x: -215px;
$about-8-offset-y: -302px;
$about-8-width: 29px;
$about-8-height: 30px;
$about-8-total-width: 492px;
$about-8-total-height: 466px;
$about-8-image: '../images/sprite.png';
$about-8: (215px, 302px, -215px, -302px, 29px, 30px, 492px, 466px, '../images/sprite.png', 'about-8', );
$about-9-name: 'about-9';
$about-9-x: 271px;
$about-9-y: 302px;
$about-9-offset-x: -271px;
$about-9-offset-y: -302px;
$about-9-width: 28px;
$about-9-height: 28px;
$about-9-total-width: 492px;
$about-9-total-height: 466px;
$about-9-image: '../images/sprite.png';
$about-9: (271px, 302px, -271px, -302px, 28px, 28px, 492px, 466px, '../images/sprite.png', 'about-9', );
$clock-name: 'clock';
$clock-x: 135px;
$clock-y: 302px;
$clock-offset-x: -135px;
$clock-offset-y: -302px;
$clock-width: 41px;
$clock-height: 41px;
$clock-total-width: 492px;
$clock-total-height: 466px;
$clock-image: '../images/sprite.png';
$clock: (135px, 302px, -135px, -302px, 41px, 41px, 492px, 466px, '../images/sprite.png', 'clock', );
$courses-1-name: 'courses-1';
$courses-1-x: 404px;
$courses-1-y: 0px;
$courses-1-offset-x: -404px;
$courses-1-offset-y: 0px;
$courses-1-width: 88px;
$courses-1-height: 88px;
$courses-1-total-width: 492px;
$courses-1-total-height: 466px;
$courses-1-image: '../images/sprite.png';
$courses-1: (404px, 0px, -404px, 0px, 88px, 88px, 492px, 466px, '../images/sprite.png', 'courses-1', );
$courses-10-name: 'courses-10';
$courses-10-x: 86px;
$courses-10-y: 380px;
$courses-10-offset-x: -86px;
$courses-10-offset-y: -380px;
$courses-10-width: 86px;
$courses-10-height: 86px;
$courses-10-total-width: 492px;
$courses-10-total-height: 466px;
$courses-10-image: '../images/sprite.png';
$courses-10: (86px, 380px, -86px, -380px, 86px, 86px, 492px, 466px, '../images/sprite.png', 'courses-10', );
$courses-2-name: 'courses-2';
$courses-2-x: 404px;
$courses-2-y: 88px;
$courses-2-offset-x: -404px;
$courses-2-offset-y: -88px;
$courses-2-width: 88px;
$courses-2-height: 88px;
$courses-2-total-width: 492px;
$courses-2-total-height: 466px;
$courses-2-image: '../images/sprite.png';
$courses-2: (404px, 88px, -404px, -88px, 88px, 88px, 492px, 466px, '../images/sprite.png', 'courses-2', );
$courses-3-name: 'courses-3';
$courses-3-x: 291px;
$courses-3-y: 211px;
$courses-3-offset-x: -291px;
$courses-3-offset-y: -211px;
$courses-3-width: 90px;
$courses-3-height: 90px;
$courses-3-total-width: 492px;
$courses-3-total-height: 466px;
$courses-3-image: '../images/sprite.png';
$courses-3: (291px, 211px, -291px, -211px, 90px, 90px, 492px, 466px, '../images/sprite.png', 'courses-3', );
$courses-4-name: 'courses-4';
$courses-4-x: 194px;
$courses-4-y: 211px;
$courses-4-offset-x: -194px;
$courses-4-offset-y: -211px;
$courses-4-width: 97px;
$courses-4-height: 91px;
$courses-4-total-width: 492px;
$courses-4-total-height: 466px;
$courses-4-image: '../images/sprite.png';
$courses-4: (194px, 211px, -194px, -211px, 97px, 91px, 492px, 466px, '../images/sprite.png', 'courses-4', );
$courses-5-name: 'courses-5';
$courses-5-x: 97px;
$courses-5-y: 211px;
$courses-5-offset-x: -97px;
$courses-5-offset-y: -211px;
$courses-5-width: 97px;
$courses-5-height: 91px;
$courses-5-total-width: 492px;
$courses-5-total-height: 466px;
$courses-5-image: '../images/sprite.png';
$courses-5: (97px, 211px, -97px, -211px, 97px, 91px, 492px, 466px, '../images/sprite.png', 'courses-5', );
$courses-6-name: 'courses-6';
$courses-6-x: 0px;
$courses-6-y: 380px;
$courses-6-offset-x: 0px;
$courses-6-offset-y: -380px;
$courses-6-width: 86px;
$courses-6-height: 86px;
$courses-6-total-width: 492px;
$courses-6-total-height: 466px;
$courses-6-image: '../images/sprite.png';
$courses-6: (0px, 380px, 0px, -380px, 86px, 86px, 492px, 466px, '../images/sprite.png', 'courses-6', );
$courses-7-name: 'courses-7';
$courses-7-x: 172px;
$courses-7-y: 380px;
$courses-7-offset-x: -172px;
$courses-7-offset-y: -380px;
$courses-7-width: 86px;
$courses-7-height: 86px;
$courses-7-total-width: 492px;
$courses-7-total-height: 466px;
$courses-7-image: '../images/sprite.png';
$courses-7: (172px, 380px, -172px, -380px, 86px, 86px, 492px, 466px, '../images/sprite.png', 'courses-7', );
$courses-8-name: 'courses-8';
$courses-8-x: 404px;
$courses-8-y: 262px;
$courses-8-offset-x: -404px;
$courses-8-offset-y: -262px;
$courses-8-width: 86px;
$courses-8-height: 86px;
$courses-8-total-width: 492px;
$courses-8-total-height: 466px;
$courses-8-image: '../images/sprite.png';
$courses-8: (404px, 262px, -404px, -262px, 86px, 86px, 492px, 466px, '../images/sprite.png', 'courses-8', );
$courses-9-name: 'courses-9';
$courses-9-x: 404px;
$courses-9-y: 176px;
$courses-9-offset-x: -404px;
$courses-9-offset-y: -176px;
$courses-9-width: 86px;
$courses-9-height: 86px;
$courses-9-total-width: 492px;
$courses-9-total-height: 466px;
$courses-9-image: '../images/sprite.png';
$courses-9: (404px, 176px, -404px, -176px, 86px, 86px, 492px, 466px, '../images/sprite.png', 'courses-9', );
$dnevnik-name: 'dnevnik';
$dnevnik-x: 286px;
$dnevnik-y: 189px;
$dnevnik-offset-x: -286px;
$dnevnik-offset-y: -189px;
$dnevnik-width: 16px;
$dnevnik-height: 16px;
$dnevnik-total-width: 492px;
$dnevnik-total-height: 466px;
$dnevnik-image: '../images/sprite.png';
$dnevnik: (286px, 189px, -286px, -189px, 16px, 16px, 492px, 466px, '../images/sprite.png', 'dnevnik', );
$header-college-name: 'header-college';
$header-college-x: 0px;
$header-college-y: 211px;
$header-college-offset-x: 0px;
$header-college-offset-y: -211px;
$header-college-width: 97px;
$header-college-height: 169px;
$header-college-total-width: 492px;
$header-college-total-height: 466px;
$header-college-image: '../images/sprite.png';
$header-college: (0px, 211px, 0px, -211px, 97px, 169px, 492px, 466px, '../images/sprite.png', 'header-college', );
$header-ege-name: 'header-ege';
$header-ege-x: 257px;
$header-ege-y: 0px;
$header-ege-offset-x: -257px;
$header-ege-offset-y: 0px;
$header-ege-width: 147px;
$header-ege-height: 189px;
$header-ege-total-width: 492px;
$header-ege-total-height: 466px;
$header-ege-image: '../images/sprite.png';
$header-ege: (257px, 0px, -257px, 0px, 147px, 189px, 492px, 466px, '../images/sprite.png', 'header-ege', );
$header-olymp-name: 'header-olymp';
$header-olymp-x: 0px;
$header-olymp-y: 0px;
$header-olymp-offset-x: 0px;
$header-olymp-offset-y: 0px;
$header-olymp-width: 257px;
$header-olymp-height: 211px;
$header-olymp-total-width: 492px;
$header-olymp-total-height: 466px;
$header-olymp-image: '../images/sprite.png';
$header-olymp: (0px, 0px, 0px, 0px, 257px, 211px, 492px, 466px, '../images/sprite.png', 'header-olymp', );
$lavr-left-name: 'lavr-left';
$lavr-left-x: 284px;
$lavr-left-y: 380px;
$lavr-left-offset-x: -284px;
$lavr-left-offset-y: -380px;
$lavr-left-width: 26px;
$lavr-left-height: 30px;
$lavr-left-total-width: 492px;
$lavr-left-total-height: 466px;
$lavr-left-image: '../images/sprite.png';
$lavr-left: (284px, 380px, -284px, -380px, 26px, 30px, 492px, 466px, '../images/sprite.png', 'lavr-left', );
$lavr-right-name: 'lavr-right';
$lavr-right-x: 244px;
$lavr-right-y: 302px;
$lavr-right-offset-x: -244px;
$lavr-right-offset-y: -302px;
$lavr-right-width: 27px;
$lavr-right-height: 30px;
$lavr-right-total-width: 492px;
$lavr-right-total-height: 466px;
$lavr-right-image: '../images/sprite.png';
$lavr-right: (244px, 302px, -244px, -302px, 27px, 30px, 492px, 466px, '../images/sprite.png', 'lavr-right', );
$mosreg-name: 'mosreg';
$mosreg-x: 472px;
$mosreg-y: 348px;
$mosreg-offset-x: -472px;
$mosreg-offset-y: -348px;
$mosreg-width: 16px;
$mosreg-height: 17px;
$mosreg-total-width: 492px;
$mosreg-total-height: 466px;
$mosreg-image: '../images/sprite.png';
$mosreg: (472px, 348px, -472px, -348px, 16px, 17px, 492px, 466px, '../images/sprite.png', 'mosreg', );
$red-star-name: 'red-star';
$red-star-x: 302px;
$red-star-y: 189px;
$red-star-offset-x: -302px;
$red-star-offset-y: -189px;
$red-star-width: 12px;
$red-star-height: 12px;
$red-star-total-width: 492px;
$red-star-total-height: 466px;
$red-star-image: '../images/sprite.png';
$red-star: (302px, 189px, -302px, -189px, 12px, 12px, 492px, 466px, '../images/sprite.png', 'red-star', );
$schools-1-name: 'schools-1';
$schools-1-x: 97px;
$schools-1-y: 302px;
$schools-1-offset-x: -97px;
$schools-1-offset-y: -302px;
$schools-1-width: 38px;
$schools-1-height: 48px;
$schools-1-total-width: 492px;
$schools-1-total-height: 466px;
$schools-1-image: '../images/sprite.png';
$schools-1: (97px, 302px, -97px, -302px, 38px, 48px, 492px, 466px, '../images/sprite.png', 'schools-1', );
$schools-2-name: 'schools-2';
$schools-2-x: 404px;
$schools-2-y: 348px;
$schools-2-offset-x: -404px;
$schools-2-offset-y: -348px;
$schools-2-width: 42px;
$schools-2-height: 26px;
$schools-2-total-width: 492px;
$schools-2-total-height: 466px;
$schools-2-image: '../images/sprite.png';
$schools-2: (404px, 348px, -404px, -348px, 42px, 26px, 492px, 466px, '../images/sprite.png', 'schools-2', );
$smile-name: 'smile';
$smile-x: 176px;
$smile-y: 302px;
$smile-offset-x: -176px;
$smile-offset-y: -302px;
$smile-width: 39px;
$smile-height: 39px;
$smile-total-width: 492px;
$smile-total-height: 466px;
$smile-image: '../images/sprite.png';
$smile: (176px, 302px, -176px, -302px, 39px, 39px, 492px, 466px, '../images/sprite.png', 'smile', );
$spritesheet-width: 492px;
$spritesheet-height: 466px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($about-1, $about-10, $about-2, $about-3, $about-4, $about-5, $about-6, $about-7, $about-8, $about-9, $clock, $courses-1, $courses-10, $courses-2, $courses-3, $courses-4, $courses-5, $courses-6, $courses-7, $courses-8, $courses-9, $dnevnik, $header-college, $header-ege, $header-olymp, $lavr-left, $lavr-right, $mosreg, $red-star, $schools-1, $schools-2, $smile, );
$spritesheet: (492px, 466px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
