/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$about-1-name: 'about-1';
$about-1-x: 404px;
$about-1-y: 29px;
$about-1-offset-x: -404px;
$about-1-offset-y: -29px;
$about-1-width: 26px;
$about-1-height: 30px;
$about-1-total-width: 431px;
$about-1-total-height: 380px;
$about-1-image: '../images/sprite.png';
$about-1: (404px, 29px, -404px, -29px, 26px, 30px, 431px, 380px, '../images/sprite.png', 'about-1', );
$about-10-name: 'about-10';
$about-10-x: 404px;
$about-10-y: 228px;
$about-10-offset-x: -404px;
$about-10-offset-y: -228px;
$about-10-width: 26px;
$about-10-height: 24px;
$about-10-total-width: 431px;
$about-10-total-height: 380px;
$about-10-image: '../images/sprite.png';
$about-10: (404px, 228px, -404px, -228px, 26px, 24px, 431px, 380px, '../images/sprite.png', 'about-10', );
$about-11-name: 'about-11';
$about-11-x: 404px;
$about-11-y: 150px;
$about-11-offset-x: -404px;
$about-11-offset-y: -150px;
$about-11-width: 26px;
$about-11-height: 26px;
$about-11-total-width: 431px;
$about-11-total-height: 380px;
$about-11-image: '../images/sprite.png';
$about-11: (404px, 150px, -404px, -150px, 26px, 26px, 431px, 380px, '../images/sprite.png', 'about-11', );
$about-2-name: 'about-2';
$about-2-x: 404px;
$about-2-y: 0px;
$about-2-offset-x: -404px;
$about-2-offset-y: 0px;
$about-2-width: 27px;
$about-2-height: 29px;
$about-2-total-width: 431px;
$about-2-total-height: 380px;
$about-2-image: '../images/sprite.png';
$about-2: (404px, 0px, -404px, 0px, 27px, 29px, 431px, 380px, '../images/sprite.png', 'about-2', );
$about-3-name: 'about-3';
$about-3-x: 404px;
$about-3-y: 89px;
$about-3-offset-x: -404px;
$about-3-offset-y: -89px;
$about-3-width: 24px;
$about-3-height: 30px;
$about-3-total-width: 431px;
$about-3-total-height: 380px;
$about-3-image: '../images/sprite.png';
$about-3: (404px, 89px, -404px, -89px, 24px, 30px, 431px, 380px, '../images/sprite.png', 'about-3', );
$about-4-name: 'about-4';
$about-4-x: 257px;
$about-4-y: 189px;
$about-4-offset-x: -257px;
$about-4-offset-y: -189px;
$about-4-width: 29px;
$about-4-height: 21px;
$about-4-total-width: 431px;
$about-4-total-height: 380px;
$about-4-image: '../images/sprite.png';
$about-4: (257px, 189px, -257px, -189px, 29px, 21px, 431px, 380px, '../images/sprite.png', 'about-4', );
$about-5-name: 'about-5';
$about-5-x: 404px;
$about-5-y: 176px;
$about-5-offset-x: -404px;
$about-5-offset-y: -176px;
$about-5-width: 26px;
$about-5-height: 26px;
$about-5-total-width: 431px;
$about-5-total-height: 380px;
$about-5-image: '../images/sprite.png';
$about-5: (404px, 176px, -404px, -176px, 26px, 26px, 431px, 380px, '../images/sprite.png', 'about-5', );
$about-6-name: 'about-6';
$about-6-x: 404px;
$about-6-y: 119px;
$about-6-offset-x: -404px;
$about-6-offset-y: -119px;
$about-6-width: 22px;
$about-6-height: 31px;
$about-6-total-width: 431px;
$about-6-total-height: 380px;
$about-6-image: '../images/sprite.png';
$about-6: (404px, 119px, -404px, -119px, 22px, 31px, 431px, 380px, '../images/sprite.png', 'about-6', );
$about-7-name: 'about-7';
$about-7-x: 404px;
$about-7-y: 202px;
$about-7-offset-x: -404px;
$about-7-offset-y: -202px;
$about-7-width: 24px;
$about-7-height: 26px;
$about-7-total-width: 431px;
$about-7-total-height: 380px;
$about-7-image: '../images/sprite.png';
$about-7: (404px, 202px, -404px, -202px, 24px, 26px, 431px, 380px, '../images/sprite.png', 'about-7', );
$about-8-name: 'about-8';
$about-8-x: 97px;
$about-8-y: 328px;
$about-8-offset-x: -97px;
$about-8-offset-y: -328px;
$about-8-width: 29px;
$about-8-height: 30px;
$about-8-total-width: 431px;
$about-8-total-height: 380px;
$about-8-image: '../images/sprite.png';
$about-8: (97px, 328px, -97px, -328px, 29px, 30px, 431px, 380px, '../images/sprite.png', 'about-8', );
$about-9-name: 'about-9';
$about-9-x: 153px;
$about-9-y: 328px;
$about-9-offset-x: -153px;
$about-9-offset-y: -328px;
$about-9-width: 28px;
$about-9-height: 28px;
$about-9-total-width: 431px;
$about-9-total-height: 380px;
$about-9-image: '../images/sprite.png';
$about-9: (153px, 328px, -153px, -328px, 28px, 28px, 431px, 380px, '../images/sprite.png', 'about-9', );
$calendar-name: 'calendar';
$calendar-x: 97px;
$calendar-y: 211px;
$calendar-offset-x: -97px;
$calendar-offset-y: -211px;
$calendar-width: 66px;
$calendar-height: 65px;
$calendar-total-width: 431px;
$calendar-total-height: 380px;
$calendar-image: '../images/sprite.png';
$calendar: (97px, 211px, -97px, -211px, 66px, 65px, 431px, 380px, '../images/sprite.png', 'calendar', );
$clock-name: 'clock';
$clock-x: 241px;
$clock-y: 276px;
$clock-offset-x: -241px;
$clock-offset-y: -276px;
$clock-width: 41px;
$clock-height: 41px;
$clock-total-width: 431px;
$clock-total-height: 380px;
$clock-image: '../images/sprite.png';
$clock: (241px, 276px, -241px, -276px, 41px, 41px, 431px, 380px, '../images/sprite.png', 'clock', );
$courses-1-name: 'courses-1';
$courses-1-x: 97px;
$courses-1-y: 276px;
$courses-1-offset-x: -97px;
$courses-1-offset-y: -276px;
$courses-1-width: 53px;
$courses-1-height: 52px;
$courses-1-total-width: 431px;
$courses-1-total-height: 380px;
$courses-1-image: '../images/sprite.png';
$courses-1: (97px, 276px, -97px, -276px, 53px, 52px, 431px, 380px, '../images/sprite.png', 'courses-1', );
$courses-2-name: 'courses-2';
$courses-2-x: 336px;
$courses-2-y: 211px;
$courses-2-offset-x: -336px;
$courses-2-offset-y: -211px;
$courses-2-width: 53px;
$courses-2-height: 52px;
$courses-2-total-width: 431px;
$courses-2-total-height: 380px;
$courses-2-image: '../images/sprite.png';
$courses-2: (336px, 211px, -336px, -211px, 53px, 52px, 431px, 380px, '../images/sprite.png', 'courses-2', );
$courses-3-name: 'courses-3';
$courses-3-x: 150px;
$courses-3-y: 276px;
$courses-3-offset-x: -150px;
$courses-3-offset-y: -276px;
$courses-3-width: 53px;
$courses-3-height: 52px;
$courses-3-total-width: 431px;
$courses-3-total-height: 380px;
$courses-3-image: '../images/sprite.png';
$courses-3: (150px, 276px, -150px, -276px, 53px, 52px, 431px, 380px, '../images/sprite.png', 'courses-3', );
$courses-4-name: 'courses-4';
$courses-4-x: 283px;
$courses-4-y: 211px;
$courses-4-offset-x: -283px;
$courses-4-offset-y: -211px;
$courses-4-width: 53px;
$courses-4-height: 52px;
$courses-4-total-width: 431px;
$courses-4-total-height: 380px;
$courses-4-image: '../images/sprite.png';
$courses-4: (283px, 211px, -283px, -211px, 53px, 52px, 431px, 380px, '../images/sprite.png', 'courses-4', );
$courses-5-name: 'courses-5';
$courses-5-x: 230px;
$courses-5-y: 211px;
$courses-5-offset-x: -230px;
$courses-5-offset-y: -211px;
$courses-5-width: 53px;
$courses-5-height: 52px;
$courses-5-total-width: 431px;
$courses-5-total-height: 380px;
$courses-5-image: '../images/sprite.png';
$courses-5: (230px, 211px, -230px, -211px, 53px, 52px, 431px, 380px, '../images/sprite.png', 'courses-5', );
$dnevnik-name: 'dnevnik';
$dnevnik-x: 404px;
$dnevnik-y: 269px;
$dnevnik-offset-x: -404px;
$dnevnik-offset-y: -269px;
$dnevnik-width: 16px;
$dnevnik-height: 16px;
$dnevnik-total-width: 431px;
$dnevnik-total-height: 380px;
$dnevnik-image: '../images/sprite.png';
$dnevnik: (404px, 269px, -404px, -269px, 16px, 16px, 431px, 380px, '../images/sprite.png', 'dnevnik', );
$header-college-name: 'header-college';
$header-college-x: 0px;
$header-college-y: 211px;
$header-college-offset-x: 0px;
$header-college-offset-y: -211px;
$header-college-width: 97px;
$header-college-height: 169px;
$header-college-total-width: 431px;
$header-college-total-height: 380px;
$header-college-image: '../images/sprite.png';
$header-college: (0px, 211px, 0px, -211px, 97px, 169px, 431px, 380px, '../images/sprite.png', 'header-college', );
$header-ege-name: 'header-ege';
$header-ege-x: 257px;
$header-ege-y: 0px;
$header-ege-offset-x: -257px;
$header-ege-offset-y: 0px;
$header-ege-width: 147px;
$header-ege-height: 189px;
$header-ege-total-width: 431px;
$header-ege-total-height: 380px;
$header-ege-image: '../images/sprite.png';
$header-ege: (257px, 0px, -257px, 0px, 147px, 189px, 431px, 380px, '../images/sprite.png', 'header-ege', );
$header-olymp-name: 'header-olymp';
$header-olymp-x: 0px;
$header-olymp-y: 0px;
$header-olymp-offset-x: 0px;
$header-olymp-offset-y: 0px;
$header-olymp-width: 257px;
$header-olymp-height: 211px;
$header-olymp-total-width: 431px;
$header-olymp-total-height: 380px;
$header-olymp-image: '../images/sprite.png';
$header-olymp: (0px, 0px, 0px, 0px, 257px, 211px, 431px, 380px, '../images/sprite.png', 'header-olymp', );
$lavr-left-name: 'lavr-left';
$lavr-left-x: 404px;
$lavr-left-y: 59px;
$lavr-left-offset-x: -404px;
$lavr-left-offset-y: -59px;
$lavr-left-width: 26px;
$lavr-left-height: 30px;
$lavr-left-total-width: 431px;
$lavr-left-total-height: 380px;
$lavr-left-image: '../images/sprite.png';
$lavr-left: (404px, 59px, -404px, -59px, 26px, 30px, 431px, 380px, '../images/sprite.png', 'lavr-left', );
$lavr-right-name: 'lavr-right';
$lavr-right-x: 126px;
$lavr-right-y: 328px;
$lavr-right-offset-x: -126px;
$lavr-right-offset-y: -328px;
$lavr-right-width: 27px;
$lavr-right-height: 30px;
$lavr-right-total-width: 431px;
$lavr-right-total-height: 380px;
$lavr-right-image: '../images/sprite.png';
$lavr-right: (126px, 328px, -126px, -328px, 27px, 30px, 431px, 380px, '../images/sprite.png', 'lavr-right', );
$mosreg-name: 'mosreg';
$mosreg-x: 404px;
$mosreg-y: 252px;
$mosreg-offset-x: -404px;
$mosreg-offset-y: -252px;
$mosreg-width: 16px;
$mosreg-height: 17px;
$mosreg-total-width: 431px;
$mosreg-total-height: 380px;
$mosreg-image: '../images/sprite.png';
$mosreg: (404px, 252px, -404px, -252px, 16px, 17px, 431px, 380px, '../images/sprite.png', 'mosreg', );
$red-star-name: 'red-star';
$red-star-x: 404px;
$red-star-y: 285px;
$red-star-offset-x: -404px;
$red-star-offset-y: -285px;
$red-star-width: 12px;
$red-star-height: 12px;
$red-star-total-width: 431px;
$red-star-total-height: 380px;
$red-star-image: '../images/sprite.png';
$red-star: (404px, 285px, -404px, -285px, 12px, 12px, 431px, 380px, '../images/sprite.png', 'red-star', );
$schools-1-name: 'schools-1';
$schools-1-x: 203px;
$schools-1-y: 276px;
$schools-1-offset-x: -203px;
$schools-1-offset-y: -276px;
$schools-1-width: 38px;
$schools-1-height: 48px;
$schools-1-total-width: 431px;
$schools-1-total-height: 380px;
$schools-1-image: '../images/sprite.png';
$schools-1: (203px, 276px, -203px, -276px, 38px, 48px, 431px, 380px, '../images/sprite.png', 'schools-1', );
$schools-2-name: 'schools-2';
$schools-2-x: 321px;
$schools-2-y: 276px;
$schools-2-offset-x: -321px;
$schools-2-offset-y: -276px;
$schools-2-width: 42px;
$schools-2-height: 26px;
$schools-2-total-width: 431px;
$schools-2-total-height: 380px;
$schools-2-image: '../images/sprite.png';
$schools-2: (321px, 276px, -321px, -276px, 42px, 26px, 431px, 380px, '../images/sprite.png', 'schools-2', );
$smile-name: 'smile';
$smile-x: 282px;
$smile-y: 276px;
$smile-offset-x: -282px;
$smile-offset-y: -276px;
$smile-width: 39px;
$smile-height: 39px;
$smile-total-width: 431px;
$smile-total-height: 380px;
$smile-image: '../images/sprite.png';
$smile: (282px, 276px, -282px, -276px, 39px, 39px, 431px, 380px, '../images/sprite.png', 'smile', );
$wallet-name: 'wallet';
$wallet-x: 163px;
$wallet-y: 211px;
$wallet-offset-x: -163px;
$wallet-offset-y: -211px;
$wallet-width: 67px;
$wallet-height: 59px;
$wallet-total-width: 431px;
$wallet-total-height: 380px;
$wallet-image: '../images/sprite.png';
$wallet: (163px, 211px, -163px, -211px, 67px, 59px, 431px, 380px, '../images/sprite.png', 'wallet', );
$spritesheet-width: 431px;
$spritesheet-height: 380px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($about-1, $about-10, $about-11, $about-2, $about-3, $about-4, $about-5, $about-6, $about-7, $about-8, $about-9, $calendar, $clock, $courses-1, $courses-2, $courses-3, $courses-4, $courses-5, $dnevnik, $header-college, $header-ege, $header-olymp, $lavr-left, $lavr-right, $mosreg, $red-star, $schools-1, $schools-2, $smile, $wallet, );
$spritesheet: (431px, 380px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
