<header class="header" id="header"/>
	
	<div class="header__wrap wrap">

		<div class="header__title">
			Московский Технологический Университет
		</div>

		<div class="header__subtitle">
			(МИРЭА, МГУПИ, МИТХТ)
		</div>

		<div class="header__menu menu">
						
			<ul class="menu__list">
				
				<li class="menu__item">
					<a href="@@link1" class="@@if (currentLink != 1) { link } menu__href menu__href--olymp ">Олимпиада</a>
				</li>
				
				<li class="menu__item">
					<a href="@@link2" class="link menu__href @@if (currentLink == 2) { active }">Об университете</a>
				</li>
				
				<li class="menu__item">
					<a href="@@link3" class="link menu__href @@if (currentLink == 3) { active }">Программы обучения</a>
				</li>
				
				<li class="menu__item">
					<a href="@@link4" class="link menu__href @@if (currentLink == 4) { active }">Условия поступления</a>
				</li>
				
				<li class="menu__item">
					<a href="@@link5" class="link menu__href @@if (currentLink == 5) { active }">Филиалы</a>
				</li>
				
				<li class="menu__item">
					<a href="@@link6" class="link menu__href @@if (currentLink == 6) { active }">Колледж</a>
				</li>
				
				<li class="menu__item">
					<a href="@@link7" class="link menu__href @@if (currentLink == 7) { active }">Предложение для школ</a>
				</li>
				
				<li class="menu__item">
					<a href="@@link8" class="link menu__href @@if (currentLink == 8) { active }">Дни открытых дверей</a>
				</li>
				
				@@ if (server === 'mosreg'){
				<li class="menu__item">
					<a href="@@link9" class="link menu__href @@if (currentLink == 9) { active }">Экскурсии</a>
				</li>
				}

				@@ if (server !== 'mosreg'){
				<li class="menu__item">
					<a href="https://networks.dnevnik.ru/1000000616671" class="link menu__href menu__href--dnevnik">Группа МИРЭА</a>
				</li>
				}
				@@ if (server === 'mosreg'){
				<li class="menu__item">
					<a href="https://networks.school.mosreg.ru/1000000588061" class="link menu__href menu__href--mosreg">Группа МИРЭА</a>
				</li>
				}
			
			</ul> <!-- /.menu -->
			
		</div><!-- /.header__menu -->
	
	</div> <!-- .header__wrap -->

</header> <!-- /.header -->