<header class="header" id="header"/>
	
	<div class="header__wrap wrap">

		<div class="header__title">
			Московский Технологический Университет
		</div>

		<div class="header__subtitle">
			(МИРЭА, МГУПИ, МИТХТ)
		</div>

		<div class="header__menu menu">
						
			<ul class="menu__list">
				
				<li class="menu__item">
					<a href="@@link1" class="menu__href menu__href--olymp @@if (currentLink == 1) { active }">Олимпиада</a>
				</li>
				
				<li class="menu__item">
					<a href="@@link2" class="menu__href @@if (currentLink == 2) { active }">Об университете</a>
				</li>
				
				<li class="menu__item">
					<a href="@@link3" class="menu__href @@if (currentLink == 3) { active }">Программы обучения</a>
				</li>
				
				<li class="menu__item">
					<a href="@@link4" class="menu__href @@if (currentLink == 4) { active }">Условия поступления в ВУЗ</a>
				</li>
				
				<li class="menu__item">
					<a href="@@link5" class="menu__href @@if (currentLink == 5) { active }">Кампусы в Москве и филиалы</a>
				</li>
				
				<li class="menu__item">
					<a href="@@link6" class="menu__href @@if (currentLink == 6) { active }">Колледж</a>
				</li>
				
				<li class="menu__item">
					<a href="@@link7" class="menu__href @@if (currentLink == 7) { active }">Предложения для школ</a>
				</li>
			
			</ul> <!-- /.menu -->
			
		</div><!-- /.header__menu -->
	
	</div> <!-- .header__wrap -->

</header> <!-- /.header -->